img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}

img[src*='#fullcenter'] {
    display: block;
    margin: auto;
    width: 100%;
}

img[src*='#banner'] {
    display: block;
    margin: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
}

.md-typeset__table {
    width: 100%
}
